openapi: 3.0.0

info:
  title: ICE Partner API
  description: |
    ICE Partner API Documentation

    ---

    To be used by ICE partners to create and manage business users and campaigns for their
    business users.

    Partner must first obtain access_token using OAuth2 Client Credential then
    use the access_token to access the other endpoints.

    Tags represent as a group which use on the scope access

    For testing purposes, you may use the Alpha (testing) server with client_id xxxxxx
    and client_secret xxxxx.

  version: 2.0.0
  contact:
    email: developer@idntimes.com
servers:
- url: https://partner-api.estidar.com/api/v2
  description: Beta (staging)
- url: https://partner-api.ice.id/api/v2
  description: Production (live data)
paths:
  /auth/token:
    post:
      tags:
      - Authentication
      summary: "Get bearer token"
      description: |
        API to get bearer token for accessing all ICE Partner API
      operationId: "postAuth"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grantType:
                  type: string
                  description: Set this to 'client_credentials'
                  example: client_credentials
                clientId:
                  description: Your application's client_id
                  type: string
                  example: "7v5v3dn3u0dpu22sgetrb3lsj1"
                clientSecret:
                  description: Your application's client_secret
                  type: string
                  example: "1uq6hovb6tb27cpptfqmic7e0cm2tltn6k8q33eqvii62toos1ju"
                scope:
                  description: Access scope
                  type: string
                  example: "partner/partner:campaign"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
                - properties:
                    data:
                      $ref: "#/components/schemas/Auth"
              example:
                status: 200
                data:
                  accessToken: "eyJz93a...k4laUWw"
                  tokenType: "Bearer"
                  expiresIn: 315360000
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_postAuth_400:
                  summary: "Failed to execute API cause bad parameters"
                  value:
                    status: 400
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Bad Request. Please re-check your payload or request parameters"
                    error:
                      message: "Bad Request"
                      reason: "Bad Request"
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_postAuth_500:
                  summary: "Failed to execute API"
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /businessUser:
    post:
      tags:
      - Business User
      summary: Create a new business user profile
      description: |
        API Endpoint for ICE Partner to creates a new business user profile

        ***Please note: Can provide businessUserId as blank while hitting this api***
      operationId: "postBusinessUser"
      requestBody:
        description: Object containing details of the new business user
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BusinessUserPayload"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
                - properties:
                    data:
                      $ref: "#/components/schemas/BusinessUser"
              examples:
                response_postBusinessUser_200:
                  summary: "Success creates a new business user profile"
                  value:
                    status: 200
                    data:
                      businessUserId: 4672
                      businessPartnerId: 49789
                      name: Seedbacklink
                      email: seedbacklink@seedbacklink.com
                      phoneNumber: '62854555931'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_postBusinessUser_400:
                  summary: "Failed to creates a new business user profile cause bad parameters"
                  value:
                    status: 400
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Bad Request. Please re-check your payload or request parameters"
                    error:
                      message: "Bad Request"
                      reason: "Bad Request"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_postBusinessUser_401:
                  summary: "Failed  to creates a new business user profile cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_postBusinessUser_500:
                  summary: "Failed to creates a new business user profile"
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /businessUser/{ID}:
    get:
      tags:
      - Business User
      summary: Get business user's profile object
      description: |
        API Endpoint for ICE Partner to get business user's profile object with full details
      operationId: "getBusinessUser"
      parameters:
      - name: ID
        in: path
        description: Id of the business user
        required: true
        schema:
          type: string
          example: "456"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/BusinessUser"
              examples:
                success_getBusinessUser:
                  summary: "Get business user's profile object"
                  value:
                    status: 200
                    data:
                      businessUserId: 495
                      businessPartnerId: 2
                      name: "Baseus Official Store"
                      email: "no-reply.ed2d9cc0-6e70-40b9-b197-3b8df2906a5e@ice.id"
                      phoneNumber: 2191235297156228
                success_getBusinessUser_not_found:
                  summary: "Get business user's profile object but not found"
                  value:
                    status: 200
                    data: null
                    user_message:
                      title: "Oops, Pencarian Tidak Ditemukan"
                      message: "Coba ubah filter."
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getBusinessUser_401:
                  summary: "Failed  to get business user's profile object  cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getBusinessUser_500:
                  summary: "Failed to Get business user's profile object "
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /campaign:
    post:
      tags:
      - Campaign
      summary: "Create a campaign"
      description: |
        API Endpoint for ICE Partner to create a campaign
      operationId: "postCampaign"
      requestBody:
        description: "Object containing details of the new campaign"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignPayload"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
                - properties:
                    data:
                      $ref: "#/components/schemas/CampaignCreated"
              examples:
                response_postCampaign_200:
                  summary: "Success create a campaign"
                  value:
                    status: 200
                    data:
                      campaignId: "39847239764"
                      createdByUserId: "713827463"
                      createdByUserType: "ICE_OP"
                      createdByUserName: "Ahmed Ali"
                      forBusinessUserId: "76514983635"
                      forBusinessUserName: "Nature Shop"
                      title: "This is the title of the campaign"
                      productName: "Name of the product"
                      campaignImageLink: "https://s3.aws/image1.jpg"
                      campaignImageLinkKey: "https://s3.aws/image1.jpg"
                      description: "This is the description of this campaign."
                      objective: "This is the objective of this campaign."
                      referenceLink: "https://example.com/refLink"
                      campaignStartTimeInMillis: "763192836821"
                      campaignEndTimeInMillis: "63129836213"
                      createdTimeInMillis: "342934982374"
                      status: "DRAFT"
                      categories:
                        categoryId: "3"
                        category: "FOOD"
                      productFileLinks:
                      - link: "https://s3.aws/image1.jpg"
                        linkKey: "https://s3.aws/image1.jpg"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_postCampaign_400:
                  summary: "Failed to create a campaign cause bad parameters"
                  value:
                    status: 400
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Bad Request. Please re-check your payload or request parameters"
                    error:
                      message: "Bad Request"
                      reason: "Bad Request"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_postCampaign_401:
                  summary: "Failed  to create a campaign cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_postCampaign_500:
                  summary: "Failed to create a campaign"
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /campaign/{ID}:
    get:
      tags:
      - Campaign
      summary: "Get detail of campaign"
      description: |
        API Endpoint for ICE Partner to get detail of campaign
      operationId: "getCampaign"
      parameters:
      - name: "ID"
        in: "path"
        description: "Id of the campaign"
        required: true
        schema:
          type: integer
          format: "int32"
          example: "345"
      - name: "forBusinessUserId"
        in: query
        description: "Id of business user"
        required: true
        schema:
          type: integer
          format: "int32"
          example: "36"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/Campaign"
              examples:
                response_getCampaign_200:
                  summary: "Get detail of campaign"
                  value:
                    status: 200
                    data:
                      campaignId: "39847239764"
                      createdByUserId: "713827463"
                      createdByUserType: "ICE_OP"
                      createdByUserName: "Ahmed Ali"
                      forBusinessUserId: "76514983635"
                      forBusinessUserName: "Nature Shop"
                      title: "This is the title of the campaign"
                      productName: "Name of the product"
                      categories:
                      - categoryId: "3"
                        category: "FOOD"
                      campaignImageLink: "https://s3.aws/image1.jpg"
                      campaignImageLinkKey: "https://s3.aws/image1.jpg"
                      productFileLinks:
                      - link: "https://s3.aws/image1.jpg"
                        linkKey: "https://s3.aws/image1.jpg"
                      description: "This is the description of this campaign."
                      objective: "This is the objective of this campaign."
                      referenceLink: "https://example.com/refLink"
                      campaignStartTimeInMillis: "763192836821"
                      campaignEndTimeInMillis: "63129836213"
                      createdTimeInMillis: "342934982374"
                      totalPrice: "4000000"
                      totalTax: "100000"
                      totalTaxDeduction: "50000"
                      totalChargeablePriceWithTaxAndDeduction: "4050000"
                      invoiceNumber: "INV/AHJDHJ/4676HG"
                      orderNumber: "429462399"
                      proofOfPaymentFileLink: "https://s3.aws/file1.pdf"
                      proofOfPaymentFileLinkKey: "https://s3.aws/file1.pdf"
                      proofOfPaymentBankName: "BCA"
                      proofOfPaymentBankAccNumber: "0000235873947"
                      isProofOfPaymentValid: false
                      proofOfPaymentRejectionReason: "Cannot open the file."
                      proofOfPaymentUpdateTimeInMillis: "923084792342"
                      status: "DRAFT"
                      rejectionReason: "Campaign rejection reason goes here"
                      subCampaigns:
                      - subCampaignId: "2759723423466"
                        campaignId: "2759723423466"
                        campaignCreatedByUserId: "4362424"
                        campaignCreatedByUserType: "BUSINESS_PARTNER"
                        campaignCreatedByUserName: "Tokopedia"
                        forBusinessUserId: "76514983635"
                        forBusinessUserName: "Nature Shop"
                        campaignTitle: "Campaign title goes here"
                        campaignImageLink: "https://s3.aws/image1.jpg"
                        campaignImageLinkKey: "https://s3.aws/image1.jpg"
                        campaignStartTimeInMillis: "632918649234"
                        campaignEndTimeInMillis: "632918649234"
                        categories:
                        - categoryId: "3"
                          category: "FOOD"
                        influencerId: "652149649324"
                        influencerName: "Bianca Kartika"
                        influencerCity: "Jakarta"
                        influencerProfileImageLink: "https://s3.aws.com/image1.jpg"
                        influencerProfileImageLinkKey: "https://s3.aws.com/image1.jpg"
                        socialPlatformTypeId: "2347"
                        socialPlatformType: "INSTAGRAM"
                        serviceTypeId: "1724"
                        serviceType: "FEED"
                        serviceDescription: "FEED"
                        servicePrice: "10000.00"
                        isSubServiceSelected: true
                        subServiceType: "PLUS ONE PHOTO"
                        subServicePrice: "1000.00"
                        quantity: "3"
                        price: "33000"
                        invoiceNumber: "INV/22131927873"
                        orderNumber: "5346477"
                        totalTax: "1000"
                        totalChargeablePrice: "34000"
                        isConfirmedByInfluencer: true
                        influencerRejectionReason: "(Rejection reason goes here)"
                        isConfirmedTimeInMillis: "7146239354653"
                        isContentValid: true
                        contentRejectionReason: "(Rejection reason goes here)"
                        contentUpdateTimeInMillis: "62938623957345"
                        contentFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        isProofOfPostValid: true
                        proofOfPostRejectionReason: "(Rejection reason goes here)"
                        proofOfPostUpdateTimeInMillis: "62938623957345"
                        proofOfPostFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        isProofOfInsightValid: true
                        proofOfInsightRejectionReason: "(Rejection reason goes here)"
                        proofOfInsightUpdateTimeInMillis: "62938623957345"
                        proofOfInsightFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        status: "NOT_ACTIVE"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getCampaign_401:
                  summary: "Failed  to get detail of campaign cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getCampaign_500:
                  summary: "Failed to get detail of campaign "
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
    put:
      tags:
      - Campaign
      summary: "Edit a campaign"
      description: |
        API Endpoint for ICE Partner to edit a campaign
      operationId: "putCampaign"
      requestBody:
        description: "Object containing details of the campaign"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignUpdate"
      parameters:
      - name: "ID"
        in: "path"
        description: "Id of the campaign"
        required: true
        schema:
          type: integer
          format: "int32"
          example: 342
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
                - properties:
                    data:
                      $ref: "#/components/schemas/Campaign"
              examples:
                response_putCampaign_200:
                  summary: "Update a campaign"
                  value:
                    status: 200
                    data:
                      campaignId: "39847239764"
                      createdByUserId: "713827463"
                      createdByUserType: "ICE_OP"
                      createdByUserName: "Ahmed Ali"
                      forBusinessUserId: "76514983635"
                      forBusinessUserName: "Nature Shop"
                      title: "This is the title of the campaign"
                      productName: "Name of the product"
                      categories:
                      - categoryId: "3"
                        category: "FOOD"
                      campaignImageLink: "https://s3.aws/image1.jpg"
                      campaignImageLinkKey: "https://s3.aws/image1.jpg"
                      productFileLinks:
                      - link: "https://s3.aws/image1.jpg"
                        linkKey: "https://s3.aws/image1.jpg"
                      description: "This is the description of this campaign."
                      objective: "This is the objective of this campaign."
                      referenceLink: "https://example.com/refLink"
                      campaignStartTimeInMillis: "763192836821"
                      campaignEndTimeInMillis: "63129836213"
                      createdTimeInMillis: "342934982374"
                      totalPrice: "4000000"
                      totalTax: "100000"
                      totalTaxDeduction: "50000"
                      totalChargeablePriceWithTaxAndDeduction: "4050000"
                      invoiceNumber: "INV/AHJDHJ/4676HG"
                      orderNumber: "429462399"
                      proofOfPaymentFileLink: "https://s3.aws/file1.pdf"
                      proofOfPaymentFileLinkKey: "https://s3.aws/file1.pdf"
                      proofOfPaymentBankName: "BCA"
                      proofOfPaymentBankAccNumber: "0000235873947"
                      isProofOfPaymentValid: false
                      proofOfPaymentRejectionReason: "Cannot open the file."
                      proofOfPaymentUpdateTimeInMillis: "923084792342"
                      status: "DRAFT"
                      rejectionReason: "Campaign rejection reason goes here"
                      subCampaigns:
                      - subCampaignId: "2759723423466"
                        campaignId: "2759723423466"
                        campaignCreatedByUserId: "4362424"
                        campaignCreatedByUserType: "BUSINESS_PARTNER"
                        campaignCreatedByUserName: "Tokopedia"
                        forBusinessUserId: "76514983635"
                        forBusinessUserName: "Nature Shop"
                        campaignTitle: "Campaign title goes here"
                        campaignImageLink: "https://s3.aws/image1.jpg"
                        campaignImageLinkKey: "https://s3.aws/image1.jpg"
                        campaignStartTimeInMillis: "632918649234"
                        campaignEndTimeInMillis: "632918649234"
                        categories:
                        - categoryId: "3"
                          category: "FOOD"
                        influencerId: "652149649324"
                        influencerName: "Bianca Kartika"
                        influencerCity: "Jakarta"
                        influencerProfileImageLink: "https://s3.aws.com/image1.jpg"
                        influencerProfileImageLinkKey: "https://s3.aws.com/image1.jpg"
                        socialPlatformTypeId: "2347"
                        socialPlatformType: "INSTAGRAM"
                        serviceTypeId: "1724"
                        serviceType: "FEED"
                        serviceDescription: "FEED"
                        servicePrice: "10000.00"
                        isSubServiceSelected: true
                        subServiceType: "PLUS ONE PHOTO"
                        subServicePrice: "1000.00"
                        quantity: "3"
                        price: "33000"
                        invoiceNumber: "INV/22131927873"
                        orderNumber: "5346477"
                        totalTax: "1000"
                        totalChargeablePrice: "34000"
                        isConfirmedByInfluencer: true
                        influencerRejectionReason: "(Rejection reason goes here)"
                        isConfirmedTimeInMillis: "7146239354653"
                        isContentValid: true
                        contentRejectionReason: "(Rejection reason goes here)"
                        contentUpdateTimeInMillis: "62938623957345"
                        contentFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        isProofOfPostValid: true
                        proofOfPostRejectionReason: "(Rejection reason goes here)"
                        proofOfPostUpdateTimeInMillis: "62938623957345"
                        proofOfPostFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        isProofOfInsightValid: true
                        proofOfInsightRejectionReason: "(Rejection reason goes here)"
                        proofOfInsightUpdateTimeInMillis: "62938623957345"
                        proofOfInsightFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        status: "NOT_ACTIVE"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_putCampaign_400:
                  summary: "Failed to update a campaign  cause bad parameters"
                  value:
                    status: 400
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Bad Request. Please re-check your payload or request parameters"
                    error:
                      message: "Bad Request"
                      reason: "Bad Request"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_putCampaign_401:
                  summary: "Failed  to update a campaign cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_putCampaign_500:
                  summary: "Failed to update a campaign "
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
    delete:
      tags:
      - Campaign
      summary: "Delete a campaign"
      description: |
        API Endpoint for ICE Partner to delete a campaign
      operationId: "delCampaign"
      parameters:
      - name: "ID"
        in: "path"
        description: "Id of the campaign"
        required: true
        schema:
          type: integer
          format: "int32"
          example: 342
      - name: "campaignId"
        in: query
        description: "Id of the campaign"
        required: true
        schema:
          type: integer
          format: "int32"
          example: ""
      - name: "forBusinessUserId"
        in: query
        description: "Id of the business user"
        required: true
        schema:
          type: integer
          format: "int32"
          example: "36"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_delCampaign_400:
                  summary: "Failed to delete a campaign  cause bad parameters"
                  value:
                    status: 400
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Bad Request. Please re-check your payload or request parameters"
                    error:
                      message: "Bad Request"
                      reason: "Bad Request"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_delCampaign_401:
                  summary: "Failed  to get list of campaign cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_delCampaign_500:
                  summary: "Failed to delete a campaign "
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /campaign/cart:
    get:
      tags:
      - Campaign
      summary: "Get detail of campaign cart"
      description: |
        API Endpoint for ICE Partner to get detail of campaign cart
      operationId: "getCampaignCart"
      parameters:
      - name: "campaignId"
        in: query
        description: "Id of the campaign"
        required: true
        schema:
          type: string
          example: "47612437311"
      - name: "forBusinessUserId"
        in: query
        description: "Id of business user"
        required: true
        schema:
          type: integer
          format: "int32"
          example: "1"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/CampaignCart"
              examples:
                response_getCampaignCart_200:
                  summary: "Get detail of campaign cart"
                  value:
                    status: 200
                    data:
                      campaignId: "39847239764"
                      totalPrice: "4000000"
                      totalTax: "100000"
                      totalTaxDeduction: "50000"
                      totalChargeablePriceWithTaxAndDeduction: "4050000"
                      subCampaigns:
                      - subCampaignId: "2759723423466"
                        campaignId: "2759723423466"
                        campaignCreatedByUserId: "4362424"
                        campaignCreatedByUserType: "BUSINESS_PARTNER"
                        campaignCreatedByUserName: "Tokopedia"
                        forBusinessUserId: "76514983635"
                        forBusinessUserName: "Nature Shop"
                        campaignTitle: "Campaign title goes here"
                        campaignImageLink: "https://s3.aws/image1.jpg"
                        campaignImageLinkKey: "https://s3.aws/image1.jpg"
                        campaignStartTimeInMillis: "632918649234"
                        campaignEndTimeInMillis: "632918649234"
                        categories:
                        - categoryId: "3"
                          category: "FOOD"
                        influencerId: "652149649324"
                        influencerName: "Bianca Kartika"
                        influencerCity: "Jakarta"
                        influencerProfileImageLink: "https://s3.aws.com/image1.jpg"
                        influencerProfileImageLinkKey: "https://s3.aws.com/image1.jpg"
                        socialPlatformTypeId: "2347"
                        socialPlatformType: "INSTAGRAM"
                        serviceTypeId: "1724"
                        serviceType: "FEED"
                        serviceDescription: "FEED"
                        servicePrice: "10000.00"
                        isSubServiceSelected: true
                        subServiceType: "PLUS ONE PHOTO"
                        subServicePrice: "1000.00"
                        quantity: "3"
                        price: "33000"
                        invoiceNumber: "INV/22131927873"
                        orderNumber: "5346477"
                        totalTax: "1000"
                        totalChargeablePrice: "34000"
                        isConfirmedByInfluencer: true
                        influencerRejectionReason: "(Rejection reason goes here)"
                        isConfirmedTimeInMillis: "7146239354653"
                        isContentValid: true
                        contentRejectionReason: "(Rejection reason goes here)"
                        contentUpdateTimeInMillis: "62938623957345"
                        contentFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        isProofOfPostValid: true
                        proofOfPostRejectionReason: "(Rejection reason goes here)"
                        proofOfPostUpdateTimeInMillis: "62938623957345"
                        proofOfPostFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        isProofOfInsightValid: true
                        proofOfInsightRejectionReason: "(Rejection reason goes here)"
                        proofOfInsightUpdateTimeInMillis: "62938623957345"
                        proofOfInsightFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        status: "NOT_ACTIVE"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getCampaignCart_401:
                  summary: "Failed  to get detail of campaign cart cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getCampaignCart_500:
                  summary: "Failed to get detail of campaign cart"
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /campaign/invoice:
    get:
      tags:
      - Campaign
      summary: "Get campaign payment invoice"
      description: |
        API Endpoint for ICE Partner to get campaign payment invoice
      operationId: "getCampaignInv"
      security:
      - JWT: []
      parameters:
      - name: campaignId
        in: query
        description: "Id of the campaign"
        required: true
        schema:
          type: string
          example: "47612437311"
      - name: forBusinessUserId
        in: query
        description: "Id of business user"
        required: true
        schema:
          type: integer
          format: "int32"
          example: 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/CampaignInvoice"
              examples:
                response_getPayInv_200:
                  summary: "Get payment invoice"
                  value:
                    status: 200
                    data:
                      campaignId: "632918649128"
                      invoiceNumber: "INV/AHJDHJ/4676HG"
                      orderNumber: "1213SGYWGSU"
                      paymentTimeInMillis: "734543536547"
                      paymentMethod: "Transfer Bank BCA"
                      campaignTitle: "Campaign title goes here"
                      businessUserName: "Nature Shop"
                      businessPartnerName: "Tokopedia"
                      subCampaigns:
                      - influencerId: "24235346"
                        influencerName: "Zahra Abigail"
                        serviceType: "FEED"
                        servicePrice: "10000000"
                        isSubServiceSelected: true
                        subServiceType: "Tambah 2 slide"
                        subServicePrice: "1000"
                        quantity: "3"
                        price: "30003000"
                      totalPrice: "4000000"
                      totalTax: "100000"
                      taxName: "PPN 12%"
                      totalTaxDeduction: "50000"
                      totalChargeablePriceWithTaxAndDeduction: "4050000"
                      isPaid: true
                      lastUpdatedTimeInMillis: "734543536547"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorArray"
              examples:
                response_getPayInv_401:
                  summary: "response failed Get payment invoice cause user unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Kamu tidak punya akses request ini"
                      message: "Silahkan hubungi team ICE untuk request hak akses"
                    error:
                      message: "Unauthorized"
                      reason: "unauthorized"
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorArray"
              examples:
                response_getPayInv_500:
                  summary: "Failed to Get payment invoice"
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "Ada eror sepertinya"
                      message: "Maaf nih sepertinya ada yang salah di system kita. Sabar ya, nanti coba lagi"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /campaign/listCampaign:
    get:
      tags:
      - Campaign
      summary: "Get list of campaigns"
      description: |
        API Endpoint for ICE Partner to get list of campaigns based on supplied filters and sorting rule
      operationId: "getListCampaign"
      parameters:
      - name: "forBusinessUserId"
        in: query
        description: "Id of business user"
        required: true
        schema:
          type: integer
          format: "int32"
          example: 36
      - name: "searchQuery"
        in: query
        description: "Unilever"
        required: false
        schema:
          type: string
          example: ""
      - name: "status"
        in: query
        description: "AWAITING_PAYMENT,COMPLETED"
        required: false
        schema:
          type: string
          example: ""
      - name: "influencerId"
        in: query
        description: "1,2"
        required: false
        schema:
          type: string
          example: ""
      - name: "categoryId"
        in: query
        description: "1,2"
        required: false
        schema:
          type: string
          example: ""
      - name: "createdTimeFromInMillis"
        in: query
        description: "6413984634"
        required: false
        schema:
          type: string
          example: ""
      - name: "createdTimeToInMillis"
        in: query
        description: "6413984634"
        required: false
        schema:
          type: string
          example: ""
      - name: "startTimeFromInMillis"
        in: query
        description: "6413984634"
        required: false
        schema:
          type: string
          example: ""
      - name: "startTimeToInMillis"
        in: query
        description: "6413984634"
        required: false
        schema:
          type: string
          example: ""
      - name: "sortBy"
        in: query
        description: "Can have one of the following value: CREATED_TIME, TITLE, PRICE, INFLUENCERS_COUNT"
        required: false
        schema:
          type: string
          example: ""
      - name: "orderBy"
        in: query
        description: "Can have one of the following value: ASCENDING, DESCENDING"
        required: false
        schema:
          type: string
          example: ""
      - name: "page"
        in: query
        description: ""
        required: false
        schema:
          type: integer
          example: "1"
      - name: "pageSize"
        in: query
        description: ""
        required: false
        schema:
          type: integer
          example: "10"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/CampaignList"
              examples:
                success_getListCampaign:
                  summary: "Get list of campaign"
                  value:
                    status: 200
                    data:
                      totalRecords: 2
                      currentPage: 1
                      pageSize: 10
                      campaigns:
                      - campaignId: 39847239764
                        title: "This is the title of the campaign"
                        productName: "This is the product name of the campaign"
                        forBusinessUsername: "Nature Shop"
                        createdByUserType: "PARTNER"
                        createdByUserName: "Ahmed Ali"
                        campaignImageLink: "https://s3.aws/image1.jpg"
                        campaignImageLinkKey: "https://s3.aws/image1.jpg"
                        totalPrice: 10000
                        invoiceNumber: "INV/2023217/IPL/3099402376"
                        campaignStartTimeInMillis: 763192836821
                        campaignEndTimeInMillis: 63129836213
                        createdTimeInMillis: 342934982374
                        status: "DRAFT"
                        totalServices: 6
                        totalSubServices: 12
                        totalInfluencers: 4
                        totalChargeablePriceWithTaxAndDeduction: 10000
                        productFileLinks:
                        - link: "https://s3.aws/image1.jpg"
                          linkKey: "https://s3.aws/image1.jpg"
                        categories:
                        - categoryId: 3
                          category: "Food"
                success_getListCampaign_filtering_not_found:
                  summary: "Get list of campaign but not found"
                  value:
                    status: 200
                    data:
                      totalRecords: 0
                      currentPage: 1
                      pageSize: 10
                      campaigns: []
                    user_message:
                      title: "Oops, Pencarian Tidak Ditemukan"
                      message: "Coba ubah filter."
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getListCampaign_401:
                  summary: "Failed  to get list of campaign cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getListCampaign_500:
                  summary: "Failed to get list of campaign"
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /campaign/listSubCampaigns:
    get:
      tags:
      - Campaign
      summary: "Get list of sub campaigns"
      description: |
        API Endpoint for ICE Partner to get list of sub campaigns based on supplied filters and sorting rule
      operationId: "getListSubCampaign"
      parameters:
      - name: "forBusinessUserId"
        in: query
        description: "Id of business user"
        required: true
        schema:
          type: integer
          format: "int32"
          example: "36"
      - name: "searchQuery"
        in: query
        description: "Unilever"
        required: false
        schema:
          type: string
          example: ""
      - name: "status"
        in: query
        description: "AWAITING_PAYMENT,COMPLETED"
        required: false
        schema:
          type: string
          example: ""
      - name: "influencerId"
        in: query
        description: "1,2"
        required: false
        schema:
          type: string
          example: ""
      - name: "categoryId"
        in: query
        description: "1,2"
        required: false
        schema:
          type: string
          example: ""
      - name: "createdTimeFromInMillis"
        in: query
        description: "6413984634"
        required: false
        schema:
          type: string
          example: ""
      - name: "createdTimeToInMillis"
        in: query
        description: "6413984634"
        required: false
        schema:
          type: string
          example: ""
      - name: "startTimeFromInMillis"
        in: query
        description: ""
        required: false
        schema:
          type: string
          example: ""
      - name: "startTimeToInMillis"
        in: query
        description: "6413984634"
        required: false
        schema:
          type: string
          example: ""
      - name: "sortBy"
        in: query
        description: "Can have one of the following value: CREATED_TIME, PRICE"
        required: false
        schema:
          type: string
          example: ""
      - name: "orderBy"
        in: query
        description: "Can have one of the following value: ASCENDING, DESCENDING"
        required: false
        schema:
          type: string
          example: ""
      - name: "page"
        in: query
        description: ""
        required: false
        schema:
          type: integer
          example: "1"
      - name: "pageSize"
        in: query
        description: ""
        required: false
        schema:
          type: integer
          example: "10"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/SubcampaignList"
              examples:
                success_getListSubCampaign:
                  summary: "Get list of subcampaign"
                  value:
                    status: 200
                    data:
                      totalResults: 2
                      currentPage: 1
                      pageSize: 10
                      subCampaigns:
                      - subCampaignId: 24325452
                        campaignId: 39847239764
                        campaignCreatedByUserId: 4362424
                        campaignCreatedByUserType: "BUSINESS_PARTNER"
                        campaignCreatedByUserName: "Seedbacklink"
                        forBusinessUserId: 4362424
                        forBusinessUserName: "Nature Shop"
                        campaignTitle: "Campaign title goes here"
                        campaignImageLink: "https://s3.aws/image1.jpg"
                        campaignImageLinkKey: "https://s3.aws/image1.jpg"
                        campaignStartTimeInMillis: 632918649234
                        campaignEndTimeInMillis: 632918649234
                        categories:
                        - categoryId: 3
                          category: "Food"
                        influencerId: 652149649324
                        influencerName: "Bianca Kartika"
                        influencerCity: "Jakarta Selatan"
                        influencerProfileImageLink: "https://s3.aws.com/image1.jpg"
                        influencerProfileImageLinkKey: "https://s3.aws.com/image1.jpg"
                        socialPlatformTypeId: 2347
                        socialPlatformType: "Instagram"
                        serviceTypeId: 1724
                        serviceType: "Feed"
                        serviceDescription: "Feed"
                        servicePrice: 10000
                        isSubServiceSelected: true
                        subServiceType: "PLUS ONE PHOTO"
                        subServicePrice: 1000
                        quantity: 3
                        price: 33000
                        invoiceNumber: "INV/22131927873"
                        orderNumber: "5346477"
                        totalTax: 1000
                        totalChargeablePrice: 34000
                        isConfirmedByInfluencer: true
                        influencerRejectionReason: "(Rejection reason goes here)"
                        isConfirmedTimeInMillis: 7146239354653
                        isContentValid: true
                        contentRejectionReason: "(Rejection reason goes here)"
                        contentUpdateTimeInMillis: 62938623957345
                        contentFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        isProofOfPostValid: true
                        proofOfPostRejectionReason: "(Rejection reason goes here)"
                        proofOfPostUpdateTimeInMillis: 62938623957345
                        proofOfPostFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        isProofOfInsightValid: true
                        proofOfInsightRejectionReason: "(Rejection reason goes here)"
                        proofOfInsightUpdateTimeInMillis: 62938623957345
                        proofOfInsightFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        status: "NOT_ACTIVE"
                success_getListSubCampaign_filtering_not_found:
                  summary: "Get list of subcampaign but not found"
                  value:
                    status: 200
                    data:
                      totalResults: 0
                      currentPage: 1
                      pageSize: 10
                      subCampaigns: []
                    user_message:
                      title: "Oops, Pencarian Tidak Ditemukan"
                      message: "Coba ubah filter."
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getListSubCampaign_401:
                  summary: "Failed  to get list of subcampaign cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getListSubCampaign_500:
                  summary: "Failed to get list of subcampaign"
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /campaign/payment:
    put:
      tags:
      - Campaign
      summary: "Moves the campaign out of draft state"
      description: |
        API Endpoint for ICE Partner to moves the campaign out of draft state and sets status as IN_PROGRESS
      operationId: "putCampaignPay"
      requestBody:
        description: "Object containing details of payment"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignPayment"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_putCampaignPay_400:
                  summary: "Failed to moves the campaign out of draft state"
                  value:
                    status: 400
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Bad Request. Please re-check your payload or request parameters"
                    error:
                      message: "Bad Request"
                      reason: "Bad Request"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_putCampaignPay_401:
                  summary: "Failed to moves the campaign out of draft state cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_putCampaignPay_500:
                  summary: "Failed to moves the campaign out of draft state "
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /campaign/subcampaign:
    post:
      tags:
      - Campaign
      summary: "Create a sub campaign"
      description: |
        API Endpoint for ICE Partner to create a sub campaign
      operationId: "postSubCampaign"
      requestBody:
        description: "Object containing sub-service details"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubCampaignPayload"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
                - properties:
                    data:
                      $ref: "#/components/schemas/Campaign"
              examples:
                response_postSubCampaign_200:
                  summary: "Failed to create a sub campaign cause bad parameters"
                  value:
                    status: 200
                    data:
                      campaignId: "39847239764"
                      createdByUserId: "713827463"
                      createdByUserType: "ICE_OP"
                      createdByUserName: "Ahmed Ali"
                      forBusinessUserId: "76514983635"
                      forBusinessUserName: "Nature Shop"
                      title: "This is the title of the campaign"
                      productName: "Name of the product"
                      categories:
                      - categoryId: "3"
                        category: "FOOD"
                      campaignImageLink: "https://s3.aws/image1.jpg"
                      campaignImageLinkKey: "https://s3.aws/image1.jpg"
                      productFileLinks:
                      - link: "https://s3.aws/image1.jpg"
                        linkKey: "https://s3.aws/image1.jpg"
                      description: "This is the description of this campaign."
                      objective: "This is the objective of this campaign."
                      referenceLink: "https://example.com/refLink"
                      campaignStartTimeInMillis: "763192836821"
                      campaignEndTimeInMillis: "63129836213"
                      createdTimeInMillis: "342934982374"
                      totalPrice: "4000000"
                      totalTax: "100000"
                      totalTaxDeduction: "50000"
                      totalChargeablePriceWithTaxAndDeduction: "4050000"
                      invoiceNumber: "INV/AHJDHJ/4676HG"
                      orderNumber: "429462399"
                      proofOfPaymentFileLink: "https://s3.aws/file1.pdf"
                      proofOfPaymentFileLinkKey: "https://s3.aws/file1.pdf"
                      proofOfPaymentBankName: "BCA"
                      proofOfPaymentBankAccNumber: "0000235873947"
                      isProofOfPaymentValid: false
                      proofOfPaymentRejectionReason: "Cannot open the file."
                      proofOfPaymentUpdateTimeInMillis: "923084792342"
                      status: "DRAFT"
                      rejectionReason: "Campaign rejection reason goes here"
                      subCampaigns:
                      - subCampaignId: "2759723423466"
                        campaignId: "2759723423466"
                        campaignCreatedByUserId: "4362424"
                        campaignCreatedByUserType: "BUSINESS_PARTNER"
                        campaignCreatedByUserName: "Tokopedia"
                        forBusinessUserId: "76514983635"
                        forBusinessUserName: "Nature Shop"
                        campaignTitle: "Campaign title goes here"
                        campaignImageLink: "https://s3.aws/image1.jpg"
                        campaignImageLinkKey: "https://s3.aws/image1.jpg"
                        campaignStartTimeInMillis: "632918649234"
                        campaignEndTimeInMillis: "632918649234"
                        categories:
                        - categoryId: "3"
                          category: "FOOD"
                        influencerId: "652149649324"
                        influencerName: "Bianca Kartika"
                        influencerCity: "Jakarta"
                        influencerProfileImageLink: "https://s3.aws.com/image1.jpg"
                        influencerProfileImageLinkKey: "https://s3.aws.com/image1.jpg"
                        socialPlatformTypeId: "2347"
                        socialPlatformType: "INSTAGRAM"
                        serviceTypeId: "1724"
                        serviceType: "FEED"
                        serviceDescription: "FEED"
                        servicePrice: "10000.00"
                        isSubServiceSelected: true
                        subServiceType: "PLUS ONE PHOTO"
                        subServicePrice: "1000.00"
                        quantity: "3"
                        price: "33000"
                        invoiceNumber: "INV/22131927873"
                        orderNumber: "5346477"
                        totalTax: "1000"
                        totalChargeablePrice: "34000"
                        isConfirmedByInfluencer: true
                        influencerRejectionReason: "(Rejection reason goes here)"
                        isConfirmedTimeInMillis: "7146239354653"
                        isContentValid: true
                        contentRejectionReason: "(Rejection reason goes here)"
                        contentUpdateTimeInMillis: "62938623957345"
                        contentFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        isProofOfPostValid: true
                        proofOfPostRejectionReason: "(Rejection reason goes here)"
                        proofOfPostUpdateTimeInMillis: "62938623957345"
                        proofOfPostFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        isProofOfInsightValid: true
                        proofOfInsightRejectionReason: "(Rejection reason goes here)"
                        proofOfInsightUpdateTimeInMillis: "62938623957345"
                        proofOfInsightFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        status: "NOT_ACTIVE"

        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_postSubCampaign_400:
                  summary: "Failed to create a sub campaign cause bad parameters"
                  value:
                    status: 400
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Bad Request. Please re-check your payload or request parameters"
                    error:
                      message: "Bad Request"
                      reason: "Bad Request"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_postSubCampaign_401:
                  summary: "Failed  to create a sub campaign cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_postSubCampaign_500:
                  summary: "Failed to create a sub campaign"
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /campaign/subcampaign/{ID}:
    delete:
      tags:
      - Campaign
      summary: "Remove a sub campaign"
      description: |
        API Endpoint for ICE Partner to remove a sub campaign
      operationId: "delSubCampaign"
      parameters:
      - name: "ID"
        in: "path"
        description: "Id of the sub-campaign"
        required: true
        schema:
          type: integer
          example: 1230873425
      - name: "forBusinessUserId"
        in: query
        description: "Id of the business user"
        required: true
        schema:
          type: integer
          example: 1230873425
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_delSubCampaign_400:
                  summary: "Failed to remove a sub campaign cause bad parameters"
                  value:
                    status: 400
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Bad Request. Please re-check your payload or request parameters"
                    error:
                      message: "Bad Request"
                      reason: "Bad Request"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_delSubCampaign_401:
                  summary: "Failed  to remove a sub campaign cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_delSubCampaign_500:
                  summary: "Failed to remove a sub campaign"
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /campaign/subcampaign/histories:
    get:
      tags:
      - Campaign
      summary: "Get sub campaign's activity history details"
      description: |
        API Endpoint for ICE Partner to get sub campaign's activity history details
      operationId: "getSubCampaignHistory"
      parameters:
      - name: "subCampaignId"
        in: query
        description: "Id of the sub-campaign"
        required: true
        schema:
          type: integer
          format: "int32"
          example: "1"
      - name: "forBusinessUserId"
        in: query
        description: "Id of business user"
        required: true
        schema:
          type: integer
          format: "int32"
          example: "1"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/SubCampaignHistory"
              examples:
                response_getSubCampaignHistory_200:
                  summary: "Get sub campaign's activity history details"
                  value:
                    status: 200
                    data:
                      timeInMillis: "239875234646"
                      action: "ACTION_SET_CONTENT"
                      contentRevisionNumber: "0"
                      subCampaign:
                        subCampaignId: "2759723423466"
                        campaignId: "2759723423466"
                        campaignCreatedByUserId: "4362424"
                        campaignCreatedByUserType: "BUSINESS_PARTNER"
                        campaignCreatedByUserName: "Tokopedia"
                        forBusinessUserId: "76514983635"
                        forBusinessUserName: "Nature Shop"
                        campaignTitle: "Campaign title goes here"
                        campaignImageLink: "https://s3.aws/image1.jpg"
                        campaignImageLinkKey: "https://s3.aws/image1.jpg"
                        campaignStartTimeInMillis: "632918649234"
                        campaignEndTimeInMillis: "632918649234"
                        categories:
                        - categoryId: "3"
                          category: "FOOD"
                        influencerId: "652149649324"
                        influencerName: "Bianca Kartika"
                        influencerCity: "Jakarta"
                        influencerProfileImageLink: "https://s3.aws.com/image1.jpg"
                        influencerProfileImageLinkKey: "https://s3.aws.com/image1.jpg"
                        socialPlatformTypeId: "2347"
                        socialPlatformType: "INSTAGRAM"
                        serviceTypeId: "1724"
                        serviceType: "FEED"
                        serviceDescription: "FEED"
                        servicePrice: "10000.00"
                        isSubServiceSelected: true
                        subServiceType: "PLUS ONE PHOTO"
                        subServicePrice: "1000.00"
                        quantity: "3"
                        price: "33000"
                        invoiceNumber: "INV/22131927873"
                        orderNumber: "5346477"
                        totalTax: "1000"
                        totalChargeablePrice: "34000"
                        isConfirmedByInfluencer: true
                        influencerRejectionReason: "(Rejection reason goes here)"
                        isConfirmedTimeInMillis: "7146239354653"
                        isContentValid: true
                        contentRejectionReason: "(Rejection reason goes here)"
                        contentUpdateTimeInMillis: "62938623957345"
                        contentFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        isProofOfPostValid: true
                        proofOfPostRejectionReason: "(Rejection reason goes here)"
                        proofOfPostUpdateTimeInMillis: "62938623957345"
                        proofOfPostFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        isProofOfInsightValid: true
                        proofOfInsightRejectionReason: "(Rejection reason goes here)"
                        proofOfInsightUpdateTimeInMillis: "62938623957345"
                        proofOfInsightFileLinks:
                        - link: "https://www.amazon.com/image.jpg"
                          linkKey: "https://www.amazon.com/image.jpg"
                        status: "NOT_ACTIVE"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getSubCampaignHistory_401:
                  summary: "Failed to get sub campaign's activity history details cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getSubCampaignHistory_500:
                  summary: "Failed to get sub campaign's activity history details"
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /campaign/verifyContent:
    put:
      tags:
      - Campaign
      summary: "Verifies the sub campaign content"
      description: |
        API Endpoint for ICE Partner to verifies the sub campaign content.

        Also, moves the sub campaign from AWAITING_CONTENT_VERIFICATION status to LIVE or REJECTED status.
      operationId: "putVerifContent"
      parameters:
      - name: "subCampaignId"
        in: query
        description: ""
        required: true
        schema:
          type: integer
          format: "int32"
          example: "100"
      - name: "isContentValid"
        in: query
        description: ""
        required: true
        schema:
          type: boolean
          example: true
      - name: "rejectionReason"
        in: query
        description: "Reason why the content is invalid."
        required: false
        schema:
          type: string
          example: "Need more croud in the photo"
      - name: "forBusinessUserId"
        in: query
        description: ""
        required: true
        schema:
          type: integer
          format: "int32"
          example: "36"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_putVerifContent_400:
                  summary: "Failed to verify content cause bad parameters"
                  value:
                    status: 400
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Bad Request. Please re-check your payload or request parameters"
                    error:
                      message: "Bad Request"
                      reason: "Bad Request"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_putVerifContent_401:
                  summary: "Failed  to verify content cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_putVerifContent_500:
                  summary: "Failed to verify content "
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /campaign/verifyInsight:
    put:
      tags:
      - Campaign
      summary: "Verifies the sub campaign's proof of insight"
      description: |
        API Endpoint for ICE Partner to verifies the sub campaign's proof of insight.

        Also, moves the sub campaign from AWAITING_POI_VERIFICATION status to COMPLETED or REJECTED status.
      operationId: "putVerifInsight"
      parameters:
      - name: "subCampaignId"
        in: query
        description: ""
        required: true
        schema:
          type: integer
          format: "int32"
          example: "100"
      - name: "isProofOfInsightValid"
        in: query
        description: ""
        required: true
        schema:
          type: boolean
          example: true
      - name: "rejectionReason"
        in: query
        description: "Reason why the proof is invalid."
        required: false
        schema:
          type: string
          example: "Unable to open the file."
      - name: "forBusinessUserId"
        in: query
        description: ""
        required: true
        schema:
          type: integer
          format: "int32"
          example: "36"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_putVerifInsight_400:
                  summary: "Failed to verify insight cause bad parameters"
                  value:
                    status: 400
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Bad Request. Please re-check your payload or request parameters"
                    error:
                      message: "Bad Request"
                      reason: "Bad Request"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_putVerifInsight_401:
                  summary: "Failed  to verify insight cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_putVerifInsight_500:
                  summary: "Failed to verify insight"
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /campaign/verifyPost:
    put:
      tags:
      - Campaign
      summary: "Verifies the sub campaign's proof of post"
      description: |
        API Endpoint for ICE Partner to verifies the sub campaign's proof of post.

        Also, moves the sub campaign from AWAITING_POP_VERIFICATION status to LIVE or REJECTED status.
      operationId: "putVerifPost"
      parameters:
      - name: "subCampaignId"
        in: query
        description: ""
        required: true
        schema:
          type: integer
          format: "int32"
          example: "100"
      - name: "isProofOfPostValid"
        in: query
        description: ""
        required: true
        schema:
          type: boolean
          example: true
      - name: "rejectionReason"
        in: query
        description: "Reason why the proof is invalid."
        required: false
        schema:
          type: string
          example: "Unable to open the file."
      - name: "forBusinessUserId"
        in: query
        description: ""
        required: true
        schema:
          type: integer
          format: "int32"
          example: "36"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_putVerifPost_400:
                  summary: "Failed to verify post cause bad parameters"
                  value:
                    status: 400
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Bad Request. Please re-check your payload or request parameters"
                    error:
                      message: "Bad Request"
                      reason: "Bad Request"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_putVerifPost_401:
                  summary: "Failed  to verify post cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_putVerifPost_500:
                  summary: "Failed to verify post "
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /chats/downloadUrl:
    get:
      tags:
      - Chat
      summary: "Generate Presigned URL to download/open file"
      description: |
        API Endpoint for ICE Partner for generate Presigned URL to download/open file
      operationId: "getChatDownloadURL"
      security:
      - JWT: []
      parameters:
      - name: "key"
        in: query
        description: "Object key"
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        url:
                          type: string
              examples:
                success_getChatDownloadURL:
                  summary: "Generate Presigned URL to download/open file"
                  value:
                    status: 200
                    data:
                      url: "PresignedURL"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getChatDownloadURL_401:
                  summary: "Failed  to generate Presigned URL to download/open file cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getChatDownloadURL_500:
                  summary: "Failed to generate Presigned URL to download/open file"
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /chats/histories:
    get:
      tags:
      - Chat
      summary: "Get chat history"
      description: |
        API Endpoint for ICE Partner for get chat history
      operationId: "getChatHist"
      security:
      - JWT: []
      parameters:
      - name: roomName
        in: query
        description: "name of room"
        required: true
        schema:
          type: string
      - name: lastId
        in: query
        description: "last message id"
        required: true
        schema:
          type: string
      - name: lastSortkey
        in: query
        description: "last message key"
        required: true
        schema:
          type: string
      - name: messageCount
        in: query
        description: "count message list"
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/MessageHist"
              examples:
                success_getChatHist:
                  summary: "Get chat history"
                  value:
                    status: 200
                    data:
                      items:
                      - payload: 'example_payload'
                        id: "I_737_C_5776"
                        sendTime: "2024-07-18T06:20:20.935Z#I_737_C_5776_lyqvtq2w"
                        sortkey: "2024-07-18T06:20:20.935Z#I_737_C_5776_lyqvtq2w"
                      - payload: 'example_payload'
                        id: "I_737_C_5776"
                        sendTime: "2024-07-18T06:20:20.935Z#I_737_C_5776_lyqvtq2w"
                        sortkey: "2024-07-18T06:20:20.935Z#I_737_C_5776_lyqvtq2w"
                      messageLastKey:
                        id: "I_737_C_5776"
                        sendTime: "2024-07-18T06:20:20.935Z#I_737_C_5776_lyqvtq2w"
                        sortkey: "2024-07-18T06:20:20.935Z#I_737_C_5776_lyqvtq2w"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getChatHist_401:
                  summary: "Failed  to get chat list cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
                    error:
                      message: "You are unauthorized to make the request."
                      reason: "You are unauthorized to make the request."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getChatRoom_500:
                  summary: "Failed to get chat list"
                  value:
                    status: 500
                    data: null
                    user_message:
                      title: "There was an error"
                      message: "Please try again later"
                    error:
                      message: "Internal Server Error"
                      reason: "Internal Server Error"
  /chats/joinRoom:
    get:
      tags:
      - Chat
      summary: "Get chat room"
      description: |
        API Endpoint for ICE Partner for get chat room
      operationId: "getChatRoom"
      security:
      - JWT: []
      parameters:
      - name: roomName
        in: query
        description: "name of room"
        required: true
        schema:
          type: string
      - name: userId
        in: query
        description: "this params combine BU_{businessUserId}, example: BU_16"
        required: true
        schema:
          type: string
      - name: email
        in: query
        description: "user email"
        required: true
        schema:
          type: string
      - name: messageCount
        in: query
        description: "number of last message retrieved"
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/BaseResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/MessageRoom"
              examples:
                success_getChatRoom:
                  summary: "Get chat room"
                  value:
                    status: 200
                    data:
                      token: "AQICAHg6NcEa06cJt8_5UnjipPWDfjC...dNdUqteDhtPmMrhEQBgLKqoaTDEeBtU_q5SWNV-8i5YhVPgBEl8YIuOkffL1PLDnCRQCNHv1hTNRa6ibviayuw!!#0"
                      userId: "B_737"
                      userProfileImage: "ImageKeyLink"
                      roomId: "arn:aws:ivschat:us-east-1:590411560808:room/Tb90IX5N7lyI"
                      roomName: "I_737_C_5776"
                      lastMessages:
                      - payload: 'example_payload'
                        id: "I_737_C_5776"
                        sendTime: "2024-07-18T06:20:20.935Z#I_737_C_5776_lyqvtq2w"
                        sortkey: "2024-07-18T06:20:20.935Z#I_737_C_5776_lyqvtq2w"
                      roomStatus: "active"
                      messageLastKey:
                        id: "I_737_C_5776"
                        sendTime: "2024-07-18T06:20:20.935Z#I_737_C_5776_lyqvtq2w"
                        sortkey: "2024-07-18T06:20:20.935Z#I_737_C_5776_lyqvtq2w"
                      userProfileUrl: "https://cdn.estidar.com/INFLUENCER/1715915196300-mie_bebek.jpg"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerError"
              examples:
                response_getChatRoom_401:
                  summary: "Failed to get chat room cause unauthorized"
                  value:
                    status: 401
                    data: null
                    user_message:
                      title: "Failed"
                      message: "Unauthorized"
[...]
